* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #000; 
    color: #ffffff;
    line-height: 1.6;
}


header {
    position: relative;
    width: 100%;
    height: 500px;
    background-color: #000; 
    border-top: 5px solid #07c510; 
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.banner video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* BIOGRAFÍA */
.biografia {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background-color: #000; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: slideInLeft 1s ease-out;
    margin-top: 0; 
    position: relative;
    z-index: 2;
}

.foto-perfil {
    margin-right: 20px;
}

.foto-perfil img {
    border-radius: 50%;
    width: 2.5cm; 
    height: 2.5cm; 
    object-fit: cover;
}

.texto {
    max-width: 500px; 
}

.texto h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.texto p {
    font-size: 1.1rem;
    color: #ffffff;
}


.proyectos {
    padding: 2rem;
    text-align: center;
    background-color: #000; 
    animation: fadeIn 3s ease-out;
}

.proyectos h2 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    color: #07c510; 
}

.galeria {
    display: flex;
    justify-content: center;
    gap: 1cm;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.proyecto {
    background-color: #111; 
    border: 2px solid #07c510;
    padding: 1rem;
    width: 23%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.proyecto img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 1rem;
    transition: transform 0.3s ease;
}

.proyecto h3 {
    font-size: 1.2rem;
    color: #ddd;
}

.proyecto:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.proyecto img:hover {
    transform: scale(1.05);
}


.contacto {
    background-color: #000; 
    color: white;
    padding: 2rem;
    text-align: center;
    animation: slideInRight 1.5s ease-out;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input, textarea {
    padding: 0.8rem;
    margin: 0.5rem 0;
    width: 80%;
    max-width: 400px;
    border: 1px solid #07c510;
    border-radius: 8px;
    background-color: #111;
    color: white;
}

button {
    padding: 0.8rem 2rem;
    background-color: #07c510;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #05a00f;
}


footer {
    text-align: center;
    padding: 1rem;
    background-color: #000;
    color: white;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slideInRight {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}
